*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
 outline: none;
 
}

body{
 width: 100%;
 height: auto;
 background-color: #fff;
}


header{
 width: 100%;
 height: 500px;
 background-image: url(./image.png),linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 background-color: rgba(0, 0, 0, 0.6);
 
}

.title{
 position: absolute;
 top: 7rem;
 left: 3rem;
 letter-spacing: 3;
 font-weight: bolder;
 font-size: 52px;
 color: black;
 text-shadow: 4px 2px 0px rgba(0,0,0,0.2);
}

h2{
 text-align: center;
color: rgb(11, 59, 118);
}
.card {
 width: 300px;
 border: 1px solid #ccc;
 border-radius: 8px;
 overflow: hidden;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease; 
 background-color: rgb(217, 235, 239);
}

.card:hover {
 transform: translateY(-5px); 
}

.content h3 {
 padding: 20px;
}

.content p {
 margin-bottom: 20px;
}

.grid {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 grid-gap: 20px;
 margin-bottom: 30px;
}



.welcome {
 background-color: #f8f9fa; 
 padding: 50px;
 text-align: center;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.welcome h2 {
 font-size: 2.5rem;
 color: #333; 
 margin-bottom: 20px;
 transition: color 0.3s ease; 
}

.welcome p {
 font-size: 1.2rem;
 color: #555; 
 line-height: 1.6;
 transition: color 0.3s ease; 
}


.welcome:hover h2 {
 color: #0e0e0edb; 
}

.welcome:hover p {
 color: #060606; 
}

.title2 {
 text-align: center;
 padding: 50px;
}

.title2 p {
 font-size: 1.3rem;
 color: #333;
 line-height: 1.6;
 max-width: 800px;
 margin: 0 auto 30px;
}

/* Styling for the quote marks */
.title2 p::before,
.title2 p::after {
 content: '"';
 font-size: 2.5rem;
 color: #3498db; /* Blue color for quote marks */
 position: relative;
 top: -10px;
}

.title2 p::before {
 margin-right: 10px;
}

.title2 p::after {
 margin-left: 10px;
}

/* Animation for the quote marks */
.title2 p::before,
.title2 p::after {
 opacity: 0;
 transform: translateY(20px);
 transition: opacity 0.3s ease, transform 0.3s ease;
}

.title2 p:hover::before,
.title2 p:hover::after {
 opacity: 1;
 transform: translateY(0);
}

