

.navbar {
 background-color: #f8f9fa; 
}

.navbar-nav {
 margin: auto; 
 
}

.item {
 list-style: none; 
}

.link {
 color: #343a40; 
 padding: 0.5rem 1rem; 
 font-size: medium; 
 text-decoration: none; 
}

.link:hover,
.link:focus {
 color: #007bff; 
}

.link {
 font-weight: bold; 
 color: #007bff; 
 font-size: small;
}
